<div class="chat-main-container d-flex bgg-img">
  <aside class="sidebar-container">
      <div class="username-container text-center">
      <%= link_to user_applications_path(user_id: current_user.id), class: "text-decoration-none" do %>
      <h3>
        <%= @chat.user_application.user.first_name %>
        <%= @chat.user_application.user.last_name %>
      </h3>
      <% end %>
      <p>
        Application:
        <strong class="nextlineVertwo"><%= @chat.user_application.title %> </strong>
      </p>

    </div>


    <div class="new-chat-container">
      <%= simple_form_for [@user_application, @newchat],
                          data: { turbo_method: :post } do |f| %>
        <%= f.input :title,
                    placeholder: "New Chat",
                    label: false,
                    wrapper: false,
                    input_html: { class: "rounded-5" }
                     %>
        <%= f.button :submit, "+", class: "send_button" %>
      <% end %>
    </div>


    <div id="chatboxs-container" class="chatboxs-container" >
    <% @chats.each do |chat| %>
    <%= render "chat_row", chat: chat,
                         user_application: @user_application %>
  <% end %>
</div>



  </aside>



  <div class="message-details-container">
    <div class="top-container text-center d-flex">
       <h3 class="top-container-title text-center col-10 textnextline"><%= @chat.title %></h3>
        <div class="d-flex align-items-center gap-2 mt-2 ms-3 mb-2 twobutton">
        <%= render "pin_button", chat: @chat,
                         user_application: @user_application %>
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle mt-2 rounded-5" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Document
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Action</a></li>
            </ul>
          </div>
        </div>
    </div>


    <div class="messages-container">
      <div id="messages">
        <%= render "messages/messages", messages: @chat.messages %>
      </div>
    </div>

   <div id="new_message" class="message-upload-container">
     <%= render "messages/form", chat: @chat, message: @message %>
   </div>

  </div>
</div>
