<p>
  <strong>Created:</strong>
  <%= l(@chat.created_at, format: :long) %>
</p>

<div class="chat-main-container b-only">


  <aside class="sidebar-container b-only">
    <div class="username-container b-only">
      <h3>
        <%= link_to raw('<i class="fa-solid fa-file-circle-plus"></i>'),new_user_application_path %>
        <%= @chat.user_application.user.first_name %>
        <%= @chat.user_application.user.last_name %>
      </h3>
      <h5>Chat ID: <%= @chat.id %></h5>
      <p>
        <strong>Application: </strong>
        <%= @chat.user_application.title %>
      </p>
    </div>


    <div class="new-chat-container b-only">
      <%= simple_form_for [@user_application, @newchat],
                          remote: true,
                          data: { turbo_method: :post } do |f| %>
        <%= f.input :title,
                    placeholder: "New Chat",
                    label: false,
                    wrapper: false,
                    input_html: { class: "form-input" } %>
        <%= f.button :submit, "+", class: "send_button" %>
      <% end %>
    </div>


    <div class="chatboxs-container b-only">
      <% @chats.each do |chat| %>
        <div class="chatbox b-only">
          <%= link_to chat.title, user_application_chat_path(@user_application, chat), class: "form_input" %>
          <%= link_to  user_application_chat_path(@user_application, chat), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
          <i class="fa-solid fa-trash-can"></i>
          <% end %>
        </div>
      <% end %>
    </div>


    <div class="setting b-only">
      <p><%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %></p>
    </div>


  </aside>



  <div class="message-details-container b-only">
    <div class="top-container b-only">
      <%= @chat.title %>
    </div>


    <div class="messages-container b-only">
      <% @chat.messages.order(:created_at).each do |message| %>
        <div class="message b-only <%= message.role == 'user' ? 'right' : 'left' %>">
          <%# <p> message.role  :</p> %>
          <p> <%= message.content %></p>
        </div>
      <% end %>
    </div>


    <div class="message-upload-container b-only">
      Type:
    </div>


  </div>
</div>
